http:
  routers:
    grafana:
      entryPoints:
        - websecure
      rule: Host("{{ env "GRAFANA_DOMAIN" }}")
      tls:
        certResolver: ovh
      service: grafana

    influxdb:
      entryPoints:
        - websecure
      rule: Host("{{ env "INFLUXDB_DOMAIN" }}")
      tls:
        certResolver: ovh
      service: influxdb
    
    prometheus:
      entryPoints:
        - websecure
      rule: Host("{{ env "PROMETHEUS_DOMAIN" }}")
      tls:
        certResolver: ovh
      service: prometheus
      middlewares:
        - basic_auth


  services:
    grafana:
      loadBalancer:
        servers:
          - url: "http://grafana:3000"

    influxdb:
      loadBalancer:
        servers:
          - url: "http://influxdb:8086"

    prometheus:
      loadBalancer:
        servers:
          - url: "http://prometheus:9090"
