services:
  navidrome:
    image: deluan/navidrome:0.59.0
    container_name: navidrome
    user: 1000:1000 # should be owner of volumes
    restart: unless-stopped
    environment: []
      # Optional: put your config options customization here. Examples:
      # ND_LOGLEVEL: debug
    networks:
      internal:
      traefik_global:
    volumes:
      - /docker_data/navidrome/volumes/data:/data
      - /docker_data/navidrome/volumes/music:/music:ro

  file-browser:
    image: gtstef/filebrowser:1.1.6-beta-slim
    environment:
      FILEBROWSER_CONFIG: "./config.yaml"
      FILEBROWSER_ADMIN_PASSWORD: "${FILEBROWSER_ADMIN_PASSWORD}"
    user: 1000:1000
    volumes:
      - /docker_data/navidrome/volumes/music:/music
      - /docker_data/navidrome/volumes/filebrowser_data:/home/filebrowser/data
      - ./filebrowser/config.yaml:/home/filebrowser/config.yaml
    networks:
      internal:
      traefik_global:
    restart: unless-stopped

networks:
  internal:
  traefik_global:
    external: true